<?xml version="1.0"?>
<config>
    <modules>
        <TB_Develop>
            <version>1.0.6</version>
        </TB_Develop>
    </modules>
    <frontend>
        <routers>
            <develop>
                <use>standard</use>
                <args>
                    <module>TB_Develop</module>
                    <frontName>develop</frontName>
                </args>
            </develop>
        </routers>
        <layout>
            <updates>
                <develop>
                    <file>tb_develop.xml</file>
                </develop>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <develop>
                <class>TB_Develop_Model</class>
            </develop>
        </models>
        <resources>
            <develop_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </develop_write>
            <develop_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </develop_read>
        </resources>
        <blocks>
            <develop>
                <class>TB_Develop_Block</class>
            </develop>            
        </blocks>
        <helpers>
            <develop>
                <class>TB_Develop_Helper</class>
            </develop>
        </helpers>
        <events>                 
            <controller_action_layout_load_before>
                <observers>
                    <develop_observer>
                        <type>singleton</type>
                        <class>develop/observer</class>
                        <method>addToolbarBlock</method>
                    </develop_observer>
                </observers>
            </controller_action_layout_load_before>                
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <develop_observer>
                        <type>singleton</type>
                        <class>develop/observer</class>
                        <method>onLayoutGenerate</method>
                    </develop_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <develop_observer>
                        <type>singleton</type>
                        <class>develop/observer</class>
                        <method>onBlockToHtml</method>
                    </develop_observer>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <develop_observer>
                        <type>singleton</type>
                        <class>develop/observer</class>
                        <method>afterBlockHtml</method>
                    </develop_observer>
                </observers>
            </core_block_abstract_to_html_after>			
            <core_collection_abstract_load_before>
                <observers>
                    <develop_observer>
                        <type>singleton</type>
                        <class>develop/observer</class>
                        <method>onMySQLCollectionLoad</method>
                    </develop_observer>
                </observers>
            </core_collection_abstract_load_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <develop_observer>
                        <type>singleton</type>
                        <class>develop/observer</class>
                        <method>onEavCollectionLoad</method>
                    </develop_observer>
                </observers>
            </eav_collection_abstract_load_before>            
            <model_load_after>
                <observers>
                    <develop_observer>
                        <type>singleton</type>
                        <class>develop/observer</class>
                        <method>onModelLoad</method>
                    </develop_observer>
                </observers>
            </model_load_after>  
            <resource_get_tablename>   
                <observers>
                    <develop_observer>
                        <type>singleton</type>
                        <class>develop/observer</class>
                        <method>onFirstEvent</method>
                    </develop_observer>
                </observers> 
            </resource_get_tablename>     
        </events>
    </global>
    <default>
        <develop>
            <options>
                <enable>1</enable>
                <allowed_ips>127.0.0.1</allowed_ips>
            </options>
        </develop>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <develop>
                    <file>tb_develop.xml</file>
                </develop>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <develop>
                            <title>TB Developer Toolbar</title>
                            <sort_order>100</sort_order>
                        </develop>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <develop>TB Developer Toolbar Options</develop>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>